/* Hero */
.hero-container {
  min-height: 810px;
  position: relative;
  background-image: url('./hero/hero.jpg');
  background-position: center top;
  background-size: cover;
  z-index: 1;
  margin-bottom: 80px;
}
.hero-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.hero-cover h1 {
  font-size: 75px;
  font-weight: bold;
  line-height: 1.2;
  color: white;
}
.hero-cover p {
  font-size: 25px;
  line-height: 1.3;
  margin-top: 37px;
  color: white;
}
.child-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  width: 70%;
}

.homepage p {
  font-size: 25px;
}
.homepage h2 {
  font-size: 60px;
}
.homepage h3 {
  font-size: 45px;
}
@media only screen and (max-width: 950px) {
  .homepage h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 815px) {
  .homepage h1 {
    font-size: 37px;
    line-height: 1.1;
    margin-top: 26px;
  }
  .homepage p {
    font-size: 17px;
  }
  .homepage h2 {
    font-size: 35px;
  }
}

/* Custom */
span.head {
  font-size: 45px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
span.text {
  font-size: 17px;
}
.custom-feature-item-content {
  height: 100%;
  background-color: transparent;
  transition: all .8s ease;
}
.custom-feature-item-content:hover {
  background-color: lightgrey;
}
.custom-feature-item button {
  opacity: 0;
  transition: all .8s ease;
}
.custom-feature-item:hover button {
  opacity: 1;
}

/* Core values */
.left-bar::before {
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #000000;
  transition: all 0.2s linear;
}
.core-value-item-container {
  padding: 50px;
}
.left-bar {
  padding-left: 16px;
}
.left-half {
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
}
.left-core-value-item {
  padding-left: 0px;
}

/* Meet the team */
@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.caret {
  animation: blink 1s infinite;
  width: 3px;
  height: 45px;
  padding-top: 15px;
  background-color: white;
  display: inline-block;
}
.my-chooser .ant-tabs-nav-list {
  width: 100%;
  display: flex;
}
.my-chooser .ant-tabs-tab {
  color: white;
  flex: 1;
  justify-content: center;
}
.my-chooser .ant-tabs-tabpane {
  color: white;
  justify-content: center;
}
.my-chooser .chooser-img {
  width: 80px;
}
.my-chooser span.text {
  font-size: 19px;
}
.my-chooser .ant-tabs-nav::before {
  background-color: #ff001f;
}
.team-accordion .ant-collapse-header, .team-accordion .ant-collapse-content {
  color: white!important;
}
.team-accordion .ant-collapse-header {
  font-size: 35px;
  font-weight: 400;
}
.team-accordion .ant-collapse-item-active .ant-collapse-header {
  color: #ff001f!important;
}
.team-accordion {
  background: transparent!important;
  padding-bottom: 50px;
}

/* Partner */
.partner-description {
  width: calc(100% - 163px);
}
.partner-carousel {
  width: 80%;
  border-left: 1px solid #ff001f;
}
.partner-carousel .figure {
  font-size: 60px;
  font-weight: 600;
}

/* Colors */
.red {
  color: #ff001f;
}
.grey {
  background-color: lightgrey;
}
.back-black {
  background-color: black;
}
.text-white, .text-white h1, .text-white h2, .text-white h3 {
  color: white;
}

/* Common */
.mt-20 {
  margin-top: 20px;
}
.center-text {
  text-align: center;
}
.justify-text {
  text-align: justify;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.section-title {
  line-height: 1.2;
  color: black;
  margin-top: 50px;
}
.no-border {
  border: none!important;
}