body {
  background-color: white;
}
.App {
  overflow: hidden;
}
.nav-menu {
  display: flex;
  justify-content: center;
  background-color: transparent!important;
  color: white!important;
  border-bottom: none!important;
}
.nav-header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9)!important;
  /* opacity: 0.5; */
  z-index: 10;
  width: 100%;
  padding: 0;
}
.nav-header-empty {
  background-color: black;
  height: 64px;
}
.page-content {
  min-height: calc(100vh - 134px);
}
.layout-fixed-width {
  max-width: 1200px;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  float: left;
  width: 50px;
  height: 31px;
  /* margin: 16px 24px 16px 0; */
  color: white;
  font-weight: bold;
  font-size: 24px;
  /* background: rgba(255, 255, 255, 0.3); */
}
.avatar {
  float: right;
  margin-top: 18px;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: white;
}

.loading-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Contact Us */
.contact-form {
  .require {
    position: relative;
  }
  .require label {
    position: absolute;
    top: 5%;
    transform: translateX(-50%);
    right: 0;
    font-size: 27px;
  }
  form input, form textarea, form .file-select {
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    padding: 6.5px 2.5%;
    font-size: 22px;
    margin-bottom: 13px;
    border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    font-style: normal;
    color: #808080!important;
  }
  form input:focus, form textarea:focus {
    outline: none;
  }
  .form-part {
    padding-left: 20px;
    padding-right: 20px;
  }
  .customized-file-input {
    display: none;
  }
  .send-button {
    font-size: 29px;
    font-weight: 300;
    padding: 10px 20px;
    width: 50%;
    margin-top: 40px;
    border-radius: 50px;
    background-image: linear-gradient(to right,#f41351,#eb1c23);
    outline: none;
    border: none;
    color: white;
  }
  .head-text {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    color: black;
  }
}